<footer class="footer">
  <!-- Section: Links  -->
  <section>
    <div class="container text-center text-md-start mt-3">
      <!-- Grid row -->
      <div class="row mt-2">
        <!-- Grid column -->
        <div class="col-md-4 col-lg-4 col-xl-3 mx-auto mb-2">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-2">
            <i class="fas fa-gem me-2"></i>Kathy's Express Delivery
          </h6>
          <p class="small">
            Fastest Delivery Service in Australia
          </p>
          <p class="small"><i class="fas fa-home me-2"></i> Melbourne</p>
        </div>

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-2">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-2">Contact</h6>
          <p class="small"><i class="fas fa-envelope me-2"></i> kathycao&#64;gmail.com</p>
          <p class="small"><i class="fas fa-phone me-2"></i> 040123123</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links -->

  <!-- Copyright -->
  <div class="text-center py-2" style="background-color: rgba(0, 0, 0, 0.05); font-size: 0.8rem;">
    © 2024 Copyright:
    <a class="text-reset fw-bold" href="/">Kathy's Express Delivery</a>
  </div>
  <!-- Copyright -->
</footer>
